.planet-img{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    right: 100px;
    margin-left: 100px;
}
.main-c4{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #2d1d69);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.planet-c4 h3{
    position: relative;
    left: 200px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.planet-c4 p{
    margin-bottom: 100px;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    width: 500px;
}
.planets-content{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 130px;
    width: 1200px;
}
.content-c4{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.searchbox{
    background: #140f31;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 115px;
    width: 1363px;
    height: 15vh;
}
.searchbox input{
    background: rgb(255, 255, 255);
    width: 320px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    height: 30px;
    line-height: 40px;
}
.searchbox input::placeholder{
    color: black;
    position: relative;
    left: 110px;
}

.p-header h1{
    z-index: 900;
    position: relative;
    top: 120px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
}

.planet-vid{
    width: 1364px;
    height: 60vh;
    object-fit: cover;
    position: relative;
    bottom: 110px;
    z-index: 1;
}